<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/src/main.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8B6mUBvNH4oSrqQtDopTMO-JcGnZPOQ&libraries=places&callback=initMap" async defer></script>-->
</body>
</html>
