<header>
    <div class="logo">
        <h1>Barbershop</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/barbershops">Barbershops</a></li>
            <li><a href="/barbershops/new">New</a></li>
            <% if (auth) { %>
            <li><a href="/user">Dashboard</a><li>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>
