<% include ./partials/boilerplate %>
<div class="index-wrap">
<div class="title-wrap">
    <h1>Find A Barber</h1>
    <br>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dignissimos, dolor eaque harum quibusdam. Beatae et laudantium necessitatibus nisi nulla quaerat rem rerum voluptates? At earum molestiae natus sed?</p>
</div>

<div class="btn-wrap">
    <div id="lbtn"><a href="/auth/login"><button>Login</button></a></div>
    <div id="lbtn"><a href="/auth/register"><button>Register</button></a></div>
</div>
</div>
<% include ./partials/end %>
