<% include ./partials/boilerplate %>

<div class="title-wrap">
    <h1>Find A Barber</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dignissimos, dolor eaque harum quibusdam. Beatae et laudantium necessitatibus nisi nulla quaerat rem rerum voluptates? At earum molestiae natus sed?</p>
</div>

<div class="btn-wrap">
    <a href="/auth/login"><button>Login</button></a>
    <a href="/auth/register"><button>Register</button></a>
</div>



<% include ./partials/end %>
