<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form method="POST" action="/barbershops">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="street_address" placeholder="Street Address" />
    <input type="text" name="city" placeholder="City" />
    <input type="text" name="state" placeholder="State" />
    <input type="number" name="zip" placeholder="Zip" />
    <input type="number" name="rating" placeholder="Rating" />
    <input type="submit" value="Add it!" />
</form>

<% include ../partials/end %>