<% include ../partials/boilerplate %>

<div id="map"></div>
<div id="map-info">
  <div id="info-output"></div>
</div>









<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8B6mUBvNH4oSrqQtDopTMO-JcGnZPOQ&libraries=places&callback=initMap"
        async defer></script>
<script>
  // Variables
  var map;
  var infowindow;

  // Initialize Map

  function initMap() {
    var bronx = {lat: 40.8448, lng: -73.8648};

    // Display the map in a div
    map = new google.maps.Map(document.getElementById('map'), {
      center: bronx,
      zoom: 15
    });

    // Create infowindow for results
    infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);

    service.textSearch({
      location: bronx,
      radius: 500,
      query: ['barbershop']
    }, callback);
  }
  // Gets Results
  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
        console.log(results[i])
      }
    }
  }
  // Create Marker from results
  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var placeId = place.place_id;
    var marker = new google.maps.Marker({
      map: map,
      position: placeLoc,
      id: placeId
    });

    let content = `${place.name}
                   <br>
                   ${place.rating}
                   <br>
                   ${place.formatted_address}
                   `

    google.maps.event.addListener(marker, 'click', function () {
      let id = marker.id;
      infowindow.setContent(content);
      infowindow.open(map, this);
      markerDetails(id);
    });

    // Get marker details
    function markerDetails(id) {

      var request = {
        placeId: id
      };

      service = new google.maps.places.PlacesService(map);
      service.getDetails(request, callback);

      function callback(place, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          console.log(place.rating);
          let ac = place.address_components;
          let str = `
            <form method="POST" action="/barbershops">
                <input type="hidden" name="name" value="${place.name}" />
                <input type="hidden" name="street_address" value="${ac[0].short_name} ${ac[1].short_name}" />
                <input type="hidden" name="city" value="${ac[3].short_name}" />
                <input type="hidden" name="state" value="${ac[5].short_name}" />
                <input type="hidden" name="zip" value="${ac[7].short_name}" />
                <input type="hidden" name="rating" value="${parseInt(place.rating)}" />
                <input type="submit" value="Add to Favorites" />
            </form>
          `;
          document.getElementById('info-output').innerHTML = place.formatted_address + str;

        }
      }
    }
  }
</script>

<% include ../partials/end %>