body {
  min-height: 100vh;
  line-height: 1.4em;
  box-sizing: border-box;
  max-width: 100vw;
  font-family: sans-serif;
  background-image: url("../imgs/hightop.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  box-sizing: border-box;
  /*padding: 15px 20px;*/
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: #555;
  transition: 0.2s all;
}

nav ul li a:hover {
  color: red;
}

.logo h1 {
  font-size: 1em;
}

/*Index Page*/
.title-wrap {
  width: 80vw;
  text-align: center;
  margin: auto;
}

.btn-wrap {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.btn-wrap a {
  border: 1px solid black;
  flex: 1;
  margin: 0 20px;
  text-align: center;
}
